<main id="gift-card-show">
  <h1>Gift card details</h1>
  <div class="current-value">
    Current Value: <strong><%= Money.new(@object.current_value * 100, Spree::Config[:currency]).format %></strong>
  </div>

  <div class="original-value">
    Original Value: <strong><%= Money.new(@object.original_value * 100, Spree::Config[:currency]).format %></strong>
  </div>

  <div class="original-value">
    Code: <strong><%= @object.code %></strong>
  </div>

  <%= render "spree/admin/gift_cards/current_adjustments", adjustments: @adjustments %>
</main>
