<tbody class="gift-code-field">
  <tr>
    <td colspan='6'>
      <%= label_tag :gift_code, Spree.t(:gift_code) + ':' %>
      <%= text_field_tag :gift_code, nil, :size => 10 %>
      <%= order_form.submit Spree.t(:apply) %>
    </td>
  </tr>
</tbody>
